.Section5H1 {
  font-size: 42px;
  font-weight: 500;
  text-align: center;
  margin-left: 60px;
  margin-right: 60px;
  padding: 25px;
}
.Section5tabBtn {
  cursor: pointer;
  height: 62px;
  display: flex;
  outline: 0px;
  padding: 5px 4px;
  background: transparent;
  box-shadow: rgb(205 209 224) 0px 4px 6px 0px;
  transition: all 0.2s ease-in-out 0s;
  align-items: center;
  margin-left: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  width: 190px;
  border: 2px solid lightgray;
}
.activeTab .Section5tabBtn {
  border: 2px solid rgb(117, 157, 254);
}
.activeTab .section5Circle {
  background-color: rgb(117, 157, 254);
}

.tabBtnIcon {
  padding: 15px;
}

.tabBtnText {
  font-size: 18px;
  padding: 4px;
}

.section5Circle {
  width: 30px;
  height: 30px;
  background-color: lightgray;
  border-radius: 15px;
  display: flex;
  justify-content: space-around;
  margin-left: 10px;
}

.S5btnGroup {
  display: flex;
  text-align: center;
  margin-left: 100px;
}
@media screen and (max-width: 900px) {
  .S5btnGroup {
    text-align: center;
    display: block !important;
    margin-left: 20px;
  }
  em {
    text-align: center;
    display: block;
  }
  .content1img {
    height: 400px;
  }
}

.content1img {
  float: left;
  width: 600px;
  height: 500px;
  padding: 20px;
  max-width: 100%;
}

.Section5Content1content {
  padding: 60px;
}
