.footer {
  padding: 50px;
}
.column1 {
  float: left;
  width: 40%;
  padding: 10px;
}
.column2 {
  float: left;
  width: 17%;
  padding: 10px;
}
.column3 {
  float: left;
  width: 17%;
  padding: 10px;
}
.column4 {
  float: left;
  width: 17%;
  padding: 10px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footerImg {
  width: 35%;
  padding: 20px;
}

.footerH2 {
  font-weight: 500;
  font-size: 20px;
}
.footerP {
  font-size: 15px;
  font-weight: 400;
  color: gray;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.footerP:hover {
  color: black;
}

.column2i {
  float: left;
  width: 55%;
  padding: 10px;
}
.column2ii {
  float: left;
  width: 40%;
  padding: 10px;
}
.row2:after {
  content: "";
  display: table;
  clear: both;
}
.footerPII {
  font-size: 12px;
  font-weight: 400;
  color: gray;
}
